<ng-container *ngIf='(eventListingDetails?.breadCrumb | json) != "{}"'>
    <app-breadcrumb [breadCrumb]='eventListingDetails.breadCrumb'></app-breadcrumb>
</ng-container>
<ng-container *ngIf='(eventListingDetails?.pastEvents | json) != "{}"'>
    <app-completed-events [pastEvents]='eventListingDetails.pastEvents'></app-completed-events>
</ng-container>
<ng-container *ngIf='(eventListingDetails.events | json) != "{}"'>
    <div style='margin-bottom: 70px;'>
        <app-cards [cardDetails]='eventListingDetails.events'></app-cards>
    </div>
</ng-container>