.about-section .section-title h2 {
    margin-bottom: 20px;
}
.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: #171822;
    margin-bottom: 10px;
}
.about-section .section-title p.f-para {
    margin-bottom: 20px;
}

.about-section .section-title p {
    font-size: 16px;
}
.section-title p {
    font-size: 18px;
    color: #6a6b7c;
    margin-bottom: 0;
}
.about-section {
    padding: 50px 0;
}

.pdb50 {
    padding-bottom: 50px;
}