<section class="counter-section bg-blue section-bg" *ngIf='showCounter'>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="counter-text">
                    <span>Starts In</span>
                    <h3>Count Every Second <br>Until the Event</h3>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cd-timer" id="countdown">
                    <div class="cd-item"><span class='days'>{{days}}</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item"><span id='hours'>{{hours}}</span>
                        <p>Hrs</p>
                    </div>
                    <div class="cd-item"><span id='minutes'>{{minutes}}</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item"><span id='seconds'>{{seconds}}</span>
                        <p>Secs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>