<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>{{contactDetails.title}}</h2>
                    <p>{{contactDetails.shortDesc}}</p>
                </div>
                <div class="cs-text">
                    <div class="ct-address" *ngIf='contactDetails.address'>
                        <span>Address:</span>
                        <p [innerHTML]='contactDetails.address'>{{contactDetails.address}}</p>
                    </div>
                    <ul>
                        <li *ngIf='contactDetails.phone'>
                            <span>Phone:</span>
                            {{contactDetails.phone}}
                        </li>
                        <li *ngIf='contactDetails.email'>
                            <span>Email:</span>
                            {{contactDetails.email}}
                        </li>
                    </ul>
                    <div class="ct-links" *ngIf='contactDetails.website'>
                        <span>Website:</span>
                        <p>{{contactDetails.website}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" *ngIf='contactDetails.loction'>
                <div class="cs-map" [innerHTML]='iframe'></div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->