.section-title {
	text-align: center;
	margin-bottom: 52px;
}

.section-title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #171822;
	margin-bottom: 10px;
}

.section-title p {
	font-size: 18px;
	color: #6a6b7c;
	margin-bottom: 0;
}