<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div>
                    <div class="lbox-caption">
                        <div class="lbox-details">
                            <div class='hdr'>
                                <h1>{{heroBanner.title}}</h1>
                                <!-- <h2>We're getting married</h2> -->
                                <p>{{heroBanner.description}}</p>
                                <!-- <a href="#" class="btn ">Contact</a> -->
                            </div>
                            <img class='her_bnr'
                                src='{{heroBanner.heroImage.url}}?fit=fill&w={{heroBanner.heroImage.width}}&h={{heroBanner.heroImage.height}}'
                                alt="{{heroBanner.heroImage.altText}}">
                        </div>
                    </div>
                </div>
            </div><!-- .pogoSlider -->
        </div>
    </div>
</div>
<!-- End Banner -->