<ng-container *ngIf='(homeDetails?.heroBanner | json) != "{}"'>
    <app-hero-banner [heroBanner]='homeDetails.heroBanner'></app-hero-banner>
</ng-container>
<ng-container *ngIf='(homeDetails?.rtf | json) != "{}"'>
    <app-service [rtfList]='homeDetails.rtf'></app-service>
</ng-container>
<ng-container *ngIf='(homeDetails?.gallery | json) != "{}"'>
    <app-gallery [gallery]='homeDetails.gallery'></app-gallery>
</ng-container>
<ng-container *ngIf='(homeDetails?.pastEvents | json) != "{}"'>
    <app-completed-events [pastEvents]='homeDetails.pastEvents'></app-completed-events>
</ng-container>
<ng-container *ngIf='(homeDetails.events | json) != "{}"'>
    <div style='margin-bottom: 70px;'>
        <app-cards [cardDetails]='homeDetails.events' [showViewAll]='true' [alignCenter]='true'></app-cards>
    </div>
</ng-container>
<ng-container *ngIf='showNewsLetter'>
    <app-news-letter></app-news-letter>
</ng-container>