/*---------------------
  Newslatter Section
-----------------------*/

.newslatter-section {
  padding-bottom: 70px;
}

.newslatter-section.about-newslatter .newslatter-inner {
	margin-top: 0;
}

.newslatter-inner {
	padding: 60px 70px 48px;
	overflow: hidden;
	border-radius: 2px;
	margin-top: -100px;
    border-radius: 20px;
}

.newslatter-inner .ni-text {
	float: left;
}

.newslatter-inner .ni-text h3 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 8px;
}

.newslatter-inner .ni-text p {
	color: #ffffff;
	margin-bottom: 0;
}

.newslatter-inner .ni-form {
	width: 400px;
	position: relative;
	float: right;
	margin-top: 12px;
}

.newslatter-inner .ni-form input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #a0a1b5;
	padding-left: 20px;
	background: #ffffff;
	border-radius: 50px;
	border: none;
	padding-right: 140px;
	outline: none;
}

.newslatter-inner .ni-form input::-webkit-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::-moz-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input:-ms-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::-ms-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form button {
	width: 128px;
	height: 40px;
	text-align: center;
	border: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	position: absolute;
	right: 5px;
	top: 5px;
    background-image: -o-linear-gradient(330deg, #dd666c 100%, #ee8425 0%), -o-linear-gradient(330deg, #dd666c 100%, #ee8425 0%);
	background-image: linear-gradient(120deg, #dd666c 100%, #ee8425 0%), linear-gradient(120deg, #dd666c 100%, #ee8425 0%);
}

.newslatter-inner .ni-form button:hover {
	cursor: pointer;
}


@media only screen and (max-width: 770px) and (min-width: 541px) {
    .newslatter-inner .ni-text p {
		width: 55%;
	}

	.newslatter-inner .ni-form {
		margin: -70px 25px;
	}

	.newslatter-inner .ni-form input {
		margin: 0 27%;
		width: 90%;
	}

	.newslatter-inner .ni-form button {
		margin: 0 -65px;
	}
}

@media only screen and (max-width: 541px) and (min-width: 421px) {
	.newslatter-inner .ni-form input {
		margin: 0 10%;
		width: 90%;
	}
}

@media only screen and (max-width: 420px) and (min-width: 376px) {
    .newslatter-inner .ni-form input {
		margin: 0 20%;
		width: 90%;
	}

	.newslatter-inner .ni-form {
       width: 350px;
	}

	.newslatter-inner .ni-form button {
		margin: 0 -34px;
	}
}

@media only screen and (max-width: 376px) and (min-width: 361px) {
    .newslatter-inner .ni-form input {
		margin: 0 28%;
		width: 90%;
	}

	.newslatter-inner .ni-form {
       width: 350px;
	}

	.newslatter-inner .ni-form button {
		margin: 0 -62px;
	}
}

@media only screen and (max-width: 360px) and (min-width: 321px) {
    .newslatter-inner .ni-form input {
		margin: 0 28%;
		width: 90%;
	}

	.newslatter-inner .ni-form {
       width: 350px;
	}

	.newslatter-inner .ni-form button {
		margin: 0 -62px;
	}
}

@media only screen and (max-width: 320px) and (min-width: 281px) {
    .newslatter-inner .ni-form input {
		margin: 0 30%;
		width: 90%;
	}

	.newslatter-inner .ni-form {
		width: 300px
	}

	.newslatter-inner .ni-form button {
		margin: 0 -57px;
		width: 95px;
	}
}

@media only screen and (max-width: 280px) {
    .newslatter-inner .ni-form input {
		margin: 0 31%;
		width: 95%;
	}

	.newslatter-inner .ni-form {
		width: 250px
	}

	.newslatter-inner .ni-form button {
		margin: 0px -64px;
        width: 90px;
	}
}

.wd-40 {
  width: 40px !important;
}

.err {
	padding-left: 15px;
    padding-top: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.bg-gr {
	background-image: linear-gradient(120deg, green 100%, green 0%), linear-gradient(120deg, green 100%, green 0%) !important;
}

.bg-rd {
	background-image: linear-gradient(120deg, red 100%, red 0%), linear-gradient(120deg, red 100%, red 0%) !important;
}