<section class="newslatter-section about-newslatter">
    <div class="container">
        <div class="newslatter-inner set-bg" style="background-image: url(/assets/breadcrumb.png);">
            <div class="ni-text">
                <h3>Subscribe Newsletter</h3>
                <p>Subscribe to our newsletter and don’t miss anything</p>
            </div>
            <form action="#" class="ni-form">
                <input type="text" placeholder="Your email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>