<!-- Start Events -->
<div id="events" class="events-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Events</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto cst-card">
                <div class="event-inner">
                    <div class="event-img">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTh8fHBhcnR5fGVufDB8fDB8&auto=format&fit=crop&w=600&q=60"
                            alt="" />
                    </div>
                    <h2>2 June 2018 Engagement</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard </p>
                    <a href="#">See location</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto cst-card">
                <div class="event-inner">
                    <div class="event-img">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                            alt="" />
                    </div>
                    <h2>3 June 2018 Main Ceremony </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard </p>
                    <a href="#">See location ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto cst-card">
                <div class="event-inner">
                    <div class="event-img">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fHBhcnR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                            alt="" />
                    </div>
                    <h2>4 June 2018 Wedding party </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard </p>
                    <a href="#">See location ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Events -->