<!-- Start Events -->
<div class="events-box">
    <div class="container tx-ctr">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>{{cardDetails.title}}</h2>
                    <p *ngIf='cardDetails.itemsList.length > 0'>{{cardDetails.shortDescription}} </p>
                    <p *ngIf='cardDetails.itemsList.length == 0'>There are no upcoming events at this time. </p>
                </div>
            </div>
        </div>
        <div class="row tx-int" *ngIf='cardDetails.itemsList.length > 0'>
            <div class="col-lg-4 col-md-6 col-sm-12 cst-card" [ngClass]="{'mx-auto' : alignCenter}"
                *ngFor='let card of cardDetails.itemsList'>
                <a href='{{card.cardUrl}}'>
                    <div class="event-inner">
                        <div class="event-img">
                            <img class="img-fluid" [defaultImage]="defaultImage"
                                [lazyLoad]="card.bannerMedia.url + '?fit=fill&w=800&h=650'"
                                [errorImage]="card.bannerMedia.url + '?fit=fill&w=800&h=650'"
                                alt="{{card.bannerMedia.altText}}">
                        </div>
                        <h2>{{card.cardTitle}}</h2>
                        <p class='gry'>{{card.cardDesc}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <a class='vi_mr' *ngIf='showViewAll && cardDetails.itemsList.length > 2' href='/events'>view all</a>
        </div>
    </div>
</div>
<!-- End Events -->